body {
    margin: 25px;
    padding: 0;
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: brown;

  }
  
  main {
    max-width: 600px;
    margin: auto;
    box-shadow: 2px 3px 10px rgb(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  
  }
  
  fieldset {
    border: 2px solid red;

    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 8px;
    font-weight: bold;
  }
  
  input, textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid red;

    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    border: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: rgb(151, 1, 1);

  }
  
  textarea:hover {
    background-color: rgba(255, 0, 0, 0.292);
  }
  
  input:focus, textarea:focus {
    background-color: #e9f5ff;
    background-color: rgba(255, 0, 0, 0.292);
    outline: none;
  }
  
  legend {
    font-weight: bold;
    /* background-color: rgba(255, 0, 0, 0.292); */
  }
  
  #resume-display {
    text-align: center;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    line-height: 0.3;
    white-space: pre-wrap;
  }
  
  .profilePicture{
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 500%;
    width: 130px;
    height: 130px;
    object-fit: cover;

  }


/* styling after generate resume */

/* h2 {
  text-align: center;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

p strong {
  color: #000;
}

.editable {
  background-color: #e0e0e0;
  padding: 2px 5px;
  border-radius: 3px;
} */
